<div id="start">
	<ul>
		<li class="candidate">[<a href='/candidate'> Start as a candidate </a>]</li>
		<li class="interviewer">[ <%= link_to "Log in as an interviewer", "interviewer_path" %> ]</li>
		<li class="interviewer">[<a href='/'> Register for an interviewer account </a>]</li>
	</ul>
</div>

<%= link_to "Users", "users_path" %>
